<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Server Logs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="log-container">
        <!-- Log messages will be appended here -->
    </div>

    <script>
        var socket = io();  // Connect to the Flask-SocketIO server

        // Function to handle incoming log messages
        socket.on('log_message', function(message) {
            // Append the log message to the log container
            var logContainer = document.getElementById('log-container');
            logContainer.innerHTML += '<p>' + message + '</p>';
        });
    </script>
</body>
</html>
